__pycache__/
*.pyc
.env
.env.*
venv/
.venv/
*.log
.DS_Store
.pytest_cache/
.coverage
htmlcov/
node_modules/
dist/
build/
*.egg-info/
.idea/
.vscode/
content/
content_hide
course/
course-from-scratch/
infra-cdk/cdk.out/
infra-cdk/*.js
infra-cdk/*.d.ts
infra-cdk/lib/*.js
infra-cdk/lib/*.d.ts
infra-cdk/bin/*.js
infra-cdk/bin/*.d.ts
infra-cdk/test/*.js
infra-cdk/test/*.d.ts
